<p-orderList [value]="classes" [listStyle]="{'height':'250px'}" header="Classes" filter="filter" filterBy="Name"
  filterPlaceholder="Filter by class name" dragdrop="true" dragdropScope="classes">
  <ng-template let-clas pTemplate="item">
    <div class="ui-helper-clearfix" (click)="showDialog()">
      <img src="../../assets/images/class1.jfif" style="display:inline-block;margin:2px 0 2px 2px" width="48"> &nbsp;&nbsp;&nbsp; <div *ngIf="clas.alarm" style="color:red;display:inline-block;align-content: center;">Alarm configured</div>
      <div style="font-size:14px;float:right;"> {{clas.Name}} - {{clas.Date}} - {{clas.Time}}</div>
    </div>
  </ng-template>
</p-orderList>

<p-dialog header="Set Alarm" [(visible)]="display" [modal]="true" [responsive]="true" [maximizable]="false"
  [baseZIndex]="10000">
  <span>Please select a date and time to set the alarm <br><br></span> 
  <div class="ui-g ui-fluid">
    <div>
      <p-calendar [(ngModel)]="date1" [inline]="true" [maxDateCount]="31" selectionMode="multiple"></p-calendar>
    </div>&nbsp;&nbsp;
    <div>
      <p-calendar [(ngModel)]="date8" [timeOnly]="true" [inline]="true"></p-calendar>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton (click)="display=false" label="Save"></button>
    <button type="button" pButton (click)="display=false" label="Close" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>