.blue {
    color: #00adee;
}

h1 {
    background: url(https://asapconnected.atlassian.net/s/-dpg1b3/b/17/8b80fc05769144aae3c4003ed3e68f7d/_/jira-logo-scaled.png) 50% 50%/50% no-repeat #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0 4px 15px rgba(0,0,0,.05);
    box-shadow: 0 4px 15px rgba(0,0,0,.05);
    content: '';
    display: block;
    height: 90px;
    margin: 0 auto .9375rem;
    width: 90px;
}


.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
