<header *ngIf="!isLogin">
  <h1>
    <a routerLink="/" style="cursor: pointer; font-size: 30px;" class="blue">ASAP</a>
  </h1>
</header>
<section *ngIf="!isLogin">
  <nav>
    <ul class="overflow" style="margin-bottom: 15px;">
      <li>
        <a style="cursor: pointer;" [routerLink]="['/calendar']"> <span class="glyphicon glyphicon-calendar blue"></span>
          Calendar</a>
      </li>
      <li>
        <a style="cursor: pointer;" [routerLink]="['/classlist']"> <span class="glyphicon glyphicon-th-list blue"></span>
          Class List</a>
      </li>
      <li *ngIf="!IsProfesor">
        <a style="cursor: pointer;" [routerLink]="['/familyaccount']"> <span class="glyphicon glyphicon-user blue"></span>
          Family Account</a>
      </li>
      <li *ngIf="IsProfesor">
        <a style="cursor: pointer;" [routerLink]="['/attendance']"> <span class="glyphicon glyphicon-check blue"></span>
          Attendance</a>
      </li>
      <li>
        <a style="cursor: pointer;" [routerLink]="['/organizationinfo']"> <span class="glyphicon glyphicon-info-sign blue"></span>
          Organization
          Info</a>
      </li>
    </ul>
  </nav>
</section>